<iframe class="h-full w-full absolute" src="http://www.youtube.com/embed/I8gFw4-2RBM?autoplay=1&mute=1&loop=1&controls=0" frameborder="0"></iframe>
<div class="h-screen bg-white">
    <div class="h-full pt-[20%] px-24 absolute text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold">Kraven The Hunter</h1>
        <p class="inline-block py-6 text-2xl w-1/4 flex-wrap">Kraven's complex relationship with his ruthless father starts him down a path of vengeance, motivating him to become not only the greatest hunter in the world, but also one of its most feared.</p>
    <div>
        <button class="bg-white text-xl text-black py-4 px-16 rounded-lg hover:bg-gray-400 transition-[1s]">
        ► Play
        </button>
        <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
            More Info
        </button>
    </div>
    </div>
</div>